# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.idea/
*.vs/
*.DS_Store
WebSockets/WebSockets.Mobile/WebSockets.Mobile.Android/obj/Debug/81/android/bin/classes/android/support/v7/appcompat/

WebSockets/WebSockets.Mobile/WebSockets.Mobile.Android/obj/Debug/81/android/bin/classes/android/support/v7/cardview/

WebSockets/WebSockets.Mobile/WebSockets.Mobile.Android/obj/Debug/81/android/bin/classes/android/support/v7/mediarouter/

WebSockets/WebSockets.Mobile/WebSockets.Mobile.Android/obj/Debug/81/android/bin/classes/android/support/v7/recyclerview/

WebSockets/WebSockets.Mobile/WebSockets.Mobile.Android/obj/Debug/81/

WebSockets/WebSockets.Mobile/WebSockets.Mobile.Android/obj/

WebSockets/WebSockets.Api.ExampleClient.Test/obj/Debug/netcoreapp2.2/

WebSockets/WebSockets.Api.ExampleClient.Test/obj/

WebSockets/WebSockets.Api.Proxy.Test/obj/Debug/netcoreapp2.2/

WebSockets/WebSockets.Api.Proxy.Test/obj/

WebSockets/WebSockets.Mobile/WebSockets.Mobile.Android/bin/Debug/

WebSockets/WebSockets.Mobile/WebSockets.Mobile.iOS/obj/iPhoneSimulator/Debug/

WebSockets/WebSockets.Mobile/WebSockets.Mobile/bin/Debug/netstandard2.0/

WebSockets/WebSockets.ServiceDaemon/obj/Debug/netcoreapp2.2/

WebSockets/WebSockets.Mobile/WebSockets.Mobile/obj/Debug/netstandard2.0/WebSockets.Mobile.csprojAssemblyReference.cache
